@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

/* place global CSS here */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#app{
  min-height: 100vh;
  min-width: 100vw;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/703/626/original/light-purple-background-with-small-and-big-stars-vector.jpg);
}

.game-board {
  display: flex;
  flex-direction: column;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 5px;
  width: 100%;
  height: 100%;
}


 .category{
  border: 2px solid #ffffff;
  background-color: #1109eb;
  height: 17vh;
  width: 17vw;
  text-align: center;
  margin: 0%;
  overflow: hidden;
  font-size: 4vh;
  font-size-adjust: inherit;
  font-style: Helvetica;
 }

.question-block {
  background-color: #1109eb;
  color: #f1ebeb;
  font-style: Helvetica;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color: #faf9f9;
  font-size: 5vw;
  width: 17vw;
  border-width: 1px;
}

.question-block:hover {
  background-color: #3832ee;
}

.question-text {
  font-size: 26px;
}

.top-bar {
  position: relative;
  z-index: 1;
  background-color: #1109eb;
  color: #0b0a0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-left {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1109eb;
  color: #faf7f7;
}

.home-button {
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #faf7f7;
  font-weight: 900;
  background-color: #1109eb;
}

.menu-text {
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #fefefe;
  font-weight: 900;
  background-color: #1109eb;
}

.submit-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: rgb(249, 248, 250);
  border: none;
  cursor: pointer;
  background-color: #1109eb;
}

.submit-button:hover {
  background-color: #2506f1;
}

.home-page {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f9;
  color: #f3f3f8;
  font-weight: 400;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/703/626/original/light-purple-background-with-small-and-big-stars-vector.jpg);
}

.home-title {
  font-size: 60px;
  margin-bottom: 10px;
  padding-top: 150px;
}

.home-message {
  font-size: 36px;
  margin-bottom: 20px;
}

.play-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #0056b3;
}

.guess-form {
  text-align: center;
  align-items: center;
}

.guess-input {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: rgb(249, 248, 250);
  border: none;
  cursor: pointer;
  background-color: #1109eb;
}

.submit-button:hover {
  background-color: #2506f1;
}

.modal-content {
  background-color: #1109eb;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-style: solid;
  border-color: #090808;
  border-width: 4px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-body {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #1109eb;
  border-radius: 5px;
  font-weight: bold;
}

.modal-button:hover {
  background-color: #eeedf7;
  color: #090808;
}

.guess-input {
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.score {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.score-container {
  text-align: center;
  color: #f8f8f8;
}

.grid-container{
  color: white;
}
.form{
  color: white
}