@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.game-board {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
  height: 720px; 
  object-fit: fill;
}

.categories-row {
  display: flex;
  margin-bottom: 10px;
}

.category {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  background-color: #1109eb;
  border: 2px solid #ffffff;
  flex: 1;
  width: 233px;
  height: 145px;
}

.category.selected {
  background-color: #1a1a1a;
}

.category.answered {
  background-color: #666666;
}

.question-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 230px;
  border: 1px solid #ccc;
  background-color: #1109eb;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.question-column:hover {
  background-color: #f8f4f4;
  color: black;
}










