@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

/* place global CSS here */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#app{
  min-height: 100vh;
  min-width: 100%;

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://www.jeopardy.com/sites/default/files/social_meta/jeopardy_logo.jpg);
}

.game-board {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 5px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.jeopardy.com/sites/default/files/social_meta/jeopardy_logo.jpg);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 20px;
  max-width: 100%;
}

.categories-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  
}
.category-tile {
  max-width: 15%;
}

.category {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;
  padding: 15px;
  background-color: #1109eb;
  border: 4px solid #ffffff;
  margin-right: 2px;
  margin-left: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  height: 23%;
  opacity: 1;
  max-width: 100%;
}

.question-column:hover {
  background-color: #f8f4f4;
  color: black;
}

.question-row {
  max-width: 15%;
}

.question-block {
  background-color: #1109eb;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-right: 2px;
  width: 200px;
  max-width: 800px;
  height: 100%;
  text-align: center;
  margin-bottom: 2px;
  border-style: solid;
  border-color: #090808;
  font-size: 12px;
}

.question-block:hover {
  background-color: #3832ee;
}

.question-text {
  font-size: 26px;
}

.top-bar {
  position: relative;
  z-index: 1;
  background-color: #1109eb;
  color: #0b0a0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-left {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1109eb;
  color: #faf7f7;
}

.home-button {
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #faf7f7;
  font-weight: 900;
  background-color: #1109eb;
}

.menu-text {
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #fefefe;
  font-weight: 900;
  background-color: #1109eb;
}

.submit-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: rgb(249, 248, 250);
  border: none;
  cursor: pointer;
  background-color: #1109eb;
}

.submit-button:hover {
  background-color: #2506f1;
}

.home-page {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f9;
  color: #f3f3f8;
  background-image: url(https://www.jeopardy.com/sites/default/files/social_meta/jeopardy_logo.jpg);
  font-weight: 400;
}

.home-title {
  font-size: 60px;
  margin-bottom: 10px;
  padding-top: 150px;
}

.home-message {
  font-size: 36px;
  margin-bottom: 20px;
}

.play-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #0056b3;
}

.guess-form {
  text-align: center;
  align-items: center;
}

.guess-input {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: rgb(249, 248, 250);
  border: none;
  cursor: pointer;
  background-color: #1109eb;
}

.submit-button:hover {
  background-color: #2506f1;
}

.modal-content {
  background-color: #1109eb;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-style: solid;
  border-color: #090808;
  border-width: 4px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-body {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #1109eb;
  border-radius: 5px;
  font-weight: bold;
}

.modal-button:hover {
  background-color: #eeedf7;
  color: #090808;
}

.guess-input {
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.score {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.score-container {
  text-align: center;
  color: #f8f8f8;
}

.grid-container{
  color: white;
}
.form{
  color: white
}