@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.game-board {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
  height: 720px; 
  object-fit: fill;
  background-image: url(https://www.jeopardy.com/modules/custom/j6/j6_game/images/bg-clue-d.jpg);
  background-position: 50% 0;
  opacity: .83;
}

.categories-row {
  display: flex;
  margin-bottom: 10px;
}

.category {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  background-color: #1109eb;
  border: 2px solid #ffffff;
  flex: 1;
  width: 233px;
  height: 145px;
  opacity: 1;
}

.category.selected {
  background-color: #1a1a1a;
}

.category.answered {
  background-color: #666666;
}

.question-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 230px;
  border: 1px solid #ccc;
  background-color: #1109eb;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.question-column:hover {
  background-color: #f8f4f4;
  color: black;
}

.question-block {
  background-color: #1109eb;
  color: #f1ebeb;
  font-family: Arial, sans-serif;
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  
}

.question-title {
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 20px;
}

.question-text {
  font-size: 36px;
}

.whole-question-block {
  height: 700px;
  width: 100%;
  background-image: url(https://www.jeopardy.com/modules/custom/j6/j6_game/images/bg-clue-d.jpg);
  padding-top: 100px;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.guess-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  font-size: 18px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e8ecee;
  color: #090808;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.submit-button:hover {
  background-color: #faf5f5;
}

.answer-status {
  margin-top: 20px;
  text-align: center;
}

.correct-answer {
  color: green;
  font-weight: bold;
  font-size: xx-large;
}

.incorrect-answer {
  color: red;
  font-weight: bold;
  font-size: xx-large;
}

.next-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f3f3f9;
  color: #0f0f0f;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.next-button:hover {
  background-color: #faf5f5;
}

.top-bar {
  background-color: #1109eb;
  color: #0b0a0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-left {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1109eb;
  color: #faf7f7;
}

.home-button{
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #faf7f7;
  font-weight: 900;
  background-color: #1109eb
}
.menu-text{
  padding-left: 10px;
  padding-top: 17.5px;
  align-items: center;
  color: #fefefe;
  font-weight: 900;
  background-color: #1109eb
}